.layout-body :where(body > header, body > main, body > footer) {
	display: grid;
	grid-template-columns: 1fr minmax(min-content, var(--max-content-width)) 1fr;
	column-gap: var(--main-content-pad-x);
}

:where(body > header, body > main, body > footer) > * {
	grid-column: 2;
}

.full-bleed {
	display: grid;
	grid-column: 1 / -1;
	grid-template-columns: subgrid;
}
