/* |||||||||| |||||||||| |||||||||| md */
@media (width <= 1024px) {
	.cards {
		--deg: 90deg;

		max-width: var(--col-1-of-2);
		grid-template-columns: none;
		grid-auto-rows: min-content min-content 1fr;
	}

	.card {
		--img-size: min(2.675em, 10dvw);
		--arrow-turn: 0;
		--border: 0 0 1px 0;

		align-items: center;
		padding: var(--pad);
		gap: var(--pad);
		grid-template-areas:
			"icon text cntr"
			"icon text arrw"
			"icon text arrw";
	}

	.cta-protect {
		padding: var(--pad-xl);
	}

	/* utilities */
	.md-js-auto {
		justify-self: auto;
	}
	.md-gtc-auto {
		grid-template-columns: auto;
	}
	.md-d-none {
		display: none;
	}
}

/* |||||||||| |||||||||| sm */
@media (width <= 768px) {
	.hero {
		grid-template-areas: "motto motto motto";
		grid-template-columns: repeat(3, 1fr);
	}

	.hero-news:where(:focus-visible, :hover) {
		transform: none;
		outline-offset: calc(var(--outline-width) * -1);
	}

	/* utilities */
	.sm-grid-area-auto {
		grid-area: auto;
	}
	.sm-d-grid {
		display: grid;
	}
}

/* |||||||||| xs */
@media (width <= 576px) {
	.hero {
		grid-auto-rows: calc(var(--col-1-of-4) * 1.345) var(--col-1-of-4);
	}

	.hero-motto__arrow-link {
		.arrow {
			--img-size: calc(var(--line) * 1.25em);
		}
		.ellipsis {
			max-width: var(--col-1-of-4);
			white-space: normal;
		}
	}

	/* utilities */
	.sm-d-none {
		display: none;
	}
	.sm-txt-trunc {
		display: -webkit-box;
		-webkit-line-clamp: var(--line, 1);
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}
