.hero-news__tag {
	--clr-txt: var(--graphit-700);

	grid-area: tag;
	width: min(12em, 100%);
	height: var(--arw-size);

	display: grid;
	place-items: center;
	padding-inline: 1em;

	border-radius: var(--rad-inner);
	background-color: var(--white);
}
