.demo-cards-wrapper {
	display: contents;
	grid-column: 1 / -1;
	grid-template-columns: repeat(var(--col), var(--col-width));
}

.demo-cards__header {
	--col: 2;
	--x: 1;

	grid-column: 1 / -1;
	display: none;
	margin-bottom: var(--pad);
}

.demo-cards__sub {
	margin-top: 1em;
	display: none;
	text-wrap: balance;
}

.demo-cards {
	--clr-bg: hsl(from var(--white) h s l / 0.05);

	display: grid;
	gap: var(--gap-x);
	grid-template-columns: repeat(var(--col), 1fr);
	border-radius: var(--rad);
	counter-reset: list-counter 0;

	/* |||||||||| |||||||||| |||||||||| article settings */
	&.article-header .demo-cards__header {
		display: block;
	}
	&.article-subtitle .demo-cards__sub {
		display: block;
	}
	&.article-title-lg .demo-cards__ttl {
		font-size: var(--fs-2xl);
		line-height: 1.1;
		font-weight: var(--fw-bd);
	}
	&.article-title-md .demo-cards__ttl {
		font-size: var(--fs-xl);
		line-height: 1.1;
		font-weight: var(--fw-bd);
	}

	/* |||||||||| |||||||||| |||||||||| section background */
	&.section-bg {
		--gap-x: clamp(0.5rem, 3.125vw + -1.5rem, 1rem);
		--col-1-of-5: calc(
			(var(--max-content-width) - var(--pad) * 2 - var(--gap-x) * 4) / 5
		);
		--col-1-of-4: calc(
			(var(--max-content-width) - var(--pad) * 2 - var(--gap-x) * 3) / 4
		);
		--col-1-of-3: calc(
			(var(--max-content-width) - var(--pad) * 2 - var(--gap-x) * 2) / 3
		);
		--col-1-of-2: calc(
			(var(--max-content-width) - var(--pad) * 2 - var(--gap-x)) / 2
		);

		background-color: var(--clr-bg);
		padding: var(--pad);

		:where(.demo-cards-wrapper, .demo-card) {
			border-radius: var(--rad-inner);
		}
		.demo-card {
			padding: var(--gap-x);
			column-gap: var(--gap-x);

			&::before {
				border-radius: 0;
			}
		}
		.demo-card__img {
			border-radius: 0;
		}
	}

	/* |||||||||| |||||||||| |||||||||| subgrid */
	&.subgrid {
		.demo-card {
			grid-template-rows: subgrid;
		}
	}

	/* |||||||||| |||||||||| |||||||||| scroll-snap */
	&.scroll {
		.demo-cards-wrapper {
			display: grid;
			row-gap: var(--gap-x);
		}
		&.section-bg {
			padding-bottom: var(--gap-x);
		}
		.demo-cards-nav {
			display: flex;
		}
		&.col-2 .demo-cards-nav :nth-child(2n + 1 of a) {
			display: initial;
		}
		&.col-3 .demo-cards-nav :nth-child(3n + 1 of a) {
			display: initial;
		}
		&.col-4 .demo-cards-nav :nth-child(4n + 1 of a) {
			display: initial;
		}
		&.col-5 .demo-cards-nav :nth-child(5n + 1 of a) {
			display: initial;
		}
	}

	/* |||||||||| |||||||||| |||||||||| ordered-list */
	&.list {
		.demo-card {
			counter-increment: list-counter;

			&::before {
				content: counter(list-counter);
				font-weight: var(--fw-bd);
				line-height: 1;
				grid-area: img;
				background-color: var(--clr-bg);
				aspect-ratio: 1;
				border-radius: var(--rad-inner);
				place-items: center;
				width: var(--img-size);
				display: none;
				place-self: start center;
			}
		}

		&.img-size-xs .demo-card::before {
			font-size: var(--fs-md);
		}
		&.img-size-sm .demo-card::before {
			font-size: var(--fs-lg);
		}
		&.img-size-md .demo-card::before {
			font-size: var(--fs-xl);
		}
		&.img-size-lg .demo-card::before {
			font-size: var(--fs-2xl);
		}

		&.img-pos-cover:where(.card-title, .subtitle, .text) .demo-card::before {
			place-self: end;
		}

		&:where(.img-pos-top, .img-pos-left, .img-pos-cover) .demo-card {
			&::before {
				display: grid;
			}
			.demo-card__img {
				display: none;
			}
		}
	}

	/* |||||||||| |||||||||| |||||||||| flex-list */
	&.flex-list {
		.demo-cards-wrapper {
			display: flex;
			flex-wrap: wrap;
			gap: var(--gap-x);
		}

		img {
			position: relative !important;
		}
	}

	/* |||||||||| |||||||||| |||||||||| columns */
	&.col-2 {
		--col: 2;
		--col-width: var(--col-1-of-2);
	}
	&.col-3 {
		--col: 3;
		--col-width: var(--col-1-of-3);
	}
	&.col-4 {
		--col: 4;
		--col-width: var(--col-1-of-4);
	}
	&.col-5 {
		--col: 5;
		--col-width: var(--col-1-of-5);
	}

	/* |||||||||| |||||||||| |||||||||| image top */
	&.img-pos-top:where(.card-title, .subtitle, .text) {
		.demo-card__img,
		.demo-card::before {
			place-self: start;
		}
	}
	&.img-pos-top.card-title.subtitle.text {
		.demo-card {
			grid-row: span 4;
			grid-template-areas:
				"img"
				"ttl"
				"sub"
				"txt";
		}
	}
	&.img-pos-top.card-title.subtitle {
		.demo-card {
			grid-row: span 3;
			grid-template-areas:
				"img"
				"ttl"
				"sub";
		}
	}
	&.img-pos-top.card-title.text {
		.demo-card {
			grid-row: span 3;
			grid-template-areas:
				"img"
				"ttl"
				"txt";
		}
	}
	&.img-pos-top.subtitle.text {
		.demo-card {
			grid-row: span 3;
			grid-template-areas:
				"img"
				"sub"
				"txt";
		}
	}
	&.img-pos-top.card-title {
		.demo-card {
			grid-row: span 2;
			grid-template-areas:
				"img"
				"ttl";
		}
	}
	&.img-pos-top.subtitle {
		.demo-card {
			grid-row: span 2;
			grid-template-areas:
				"img"
				"sub";
		}
	}
	&.img-pos-top.text {
		.demo-card {
			grid-row: span 2;
			grid-template-areas:
				"img"
				"txt";
		}
	}
	&.img-pos-top .demo-card {
		grid-template-areas: "img";
	}
	&.img-pos-top:not(.img-pos-cover) {
		.demo-card__img {
			--fit: contain;
			--img-w: auto;

			max-width: 50%;
		}

		img {
			position: relative !important;
		}
	}

	/* |||||||||| when no text content */
	&.img-pos-top:not(.img-pos-cover, .card-title, .subtitle, .text)
		.demo-card__img {
		--fit: contain;
		--img-w: 100%;
	}

	/* |||||||||| |||||||||| |||||||||| image left */
	&.img-pos-left:where(.card-title, .subtitle, .text) .demo-card {
		grid-template-columns: min-content auto;
	}

	&.img-pos-left.card-title.subtitle.text .demo-card {
		grid-template-areas:
			"img ttl"
			"img sub"
			"img txt";
	}
	&.img-pos-left.card-title.subtitle .demo-card {
		grid-template-areas:
			"img ttl"
			"img sub";
	}
	&.img-pos-left.card-title.text .demo-card {
		grid-template-areas:
			"img ttl"
			"img txt";
	}
	&.img-pos-left.subtitle.text .demo-card {
		grid-template-areas:
			"img sub"
			"img txt";
	}
	&.img-pos-left.card-title .demo-card {
		grid-template-areas: "img ttl";
	}
	&.img-pos-left.subtitle .demo-card {
		grid-template-areas: "img sub";
	}
	&.img-pos-left.text .demo-card {
		grid-template-areas: "img txt";
	}
	&.img-pos-left .demo-card {
		--fit: contain;

		grid-template-areas: "img";
	}

	/* |||||||||| when ttl or sub are the only text content */
	&.img-pos-left:where(.card-title):not(.subtitle, .text) {
		.demo-card {
			grid-auto-rows: auto;
		}
		.demo-card::before,
		:where(.demo-card__img, .demo-card__ttl) {
			place-self: center start;
		}
	}
	&.img-pos-left:where(.subtitle):not(.card-title, .text) {
		.demo-card {
			grid-auto-rows: auto;
		}
		.demo-card::before,
		:where(.demo-card__img, .demo-card__sub) {
			place-self: center start;
		}
	}
	/* |||||||||| when no text content */
	&.img-pos-left:not(.card-title, .subtitle, .text) .demo-card__img {
		--fit: contain;
		--img-w: 100%;
	}

	/* |||||||||| |||||||||| |||||||||| image none */
	&.card-title.subtitle.text .demo-card {
		grid-row: span 3;
		grid-template-areas:
			"ttl"
			"sub"
			"txt";
	}
	&.card-title.subtitle .demo-card {
		grid-row: span 2;
		grid-template-areas:
			"ttl"
			"sub";
	}
	&.card-title.text .demo-card {
		grid-row: span 2;
		grid-template-areas:
			"ttl"
			"txt";
	}
	&.subtitle.text .demo-card {
		grid-row: span 2;
		grid-template-areas:
			"sub"
			"txt";
	}
	&.card-title .demo-card {
		grid-template-areas: "ttl";
	}
	&.subtitle .demo-card {
		grid-template-areas: "sub";
	}
	&.text .demo-card {
		grid-template-areas: "txt";
	}

	/* |||||||||| |||||||||| |||||||||| image picture */
	&.img-pos-cover {
		&:is(.card-title, .subtitle, .text) .demo-card__img {
			margin-bottom: initial;
		}

		.demo-card__img {
			--img-w: 100%;

			margin: var(--pad-neg);
			min-width: calc(100% - var(--pad-neg) * 2);
			border-radius: 0;
		}

		&.col-2 {
			--img-h: calc(var(--col-1-of-2) * (9 / 16));
		}
		&.col-3 {
			--img-h: calc(var(--col-1-of-3) * (9 / 16));
		}
		&.col-4 {
			--img-h: calc(var(--col-1-of-4) * (9 / 16));
		}
		&.col-5 {
			--img-h: calc(var(--col-1-of-5) * (9 / 16));
		}
	}

	/* |||||||||| |||||||||| |||||||||| logo */
	&.img-pos-logo {
		.demo-card__img {
			--fit: contain;
			--img-w: auto;

			max-width: 50%;
		}

		img {
			position: relative !important;
		}
	}

	/* |||||||||| |||||||||| |||||||||| image sizes */
	&.img-size-xs {
		--img-size: calc(var(--col-1-of-12) * 0.422);
	}
	&.img-size-sm {
		--img-size: calc(var(--col-1-of-12) * 0.563);
	}
	&.img-size-md {
		--img-size: calc(var(--col-1-of-12) * 0.75);
	}
	&.img-size-lg {
		--img-size: var(--col-1-of-12);
	}

	/* |||||||||| |||||||||| |||||||||| card content */
	&:where(.img-pos-top, .img-pos-left, .img-pos-cover) {
		.demo-card__img {
			display: initial;
		}
	}
	&.card-title {
		.demo-card__ttl {
			display: initial;
		}
	}
	&.subtitle {
		.demo-card__sub {
			display: initial;
		}
	}
	&.text {
		.demo-card__txt {
			display: initial;
		}
	}

	/* |||||||||| |||||||||| |||||||||| ellipsis */
	&.one-line-title .demo-card__ttl {
		max-width: 100%;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		place-self: center start;
	}

	/* |||||||||| |||||||||| |||||||||| title sizes */
	&.title-sm .demo-card__ttl {
		font-size: var(--fs-md);
		line-height: var(--lh-md);
		font-weight: var(--fw-rg);
	}
	&.title-md .demo-card__ttl {
		font-size: var(--fs-lg);
		line-height: 1.1;
		font-weight: var(--fw-bd);
	}
	&.title-lg .demo-card__ttl {
		font-size: var(--fs-xl);
		line-height: 1.1;
		font-weight: var(--fw-bd);
	}
}

/* |||||||||| |||||||||| |||||||||| demo-card */
.demo-card {
	--pad-neg: calc(var(--pad) * -1);

	background-color: var(--clr-bg);
	padding: var(--pad);
	border-radius: var(--rad);
	overflow: hidden;
	display: grid;
	place-items: start;
	gap: var(--gap-x) var(--pad);
	grid-auto-rows: min-content;
	transition: 0.33s background-color;

	&:hover {
		background-color: hsl(from var(--white) h s l / 0.066);
	}
}

/* |||||||||| |||||||||| |||||||||| */
.demo-card__img {
	grid-area: img;
	display: none;
	border-radius: var(--rad-inner);
	overflow: hidden;
	place-self: start center;
}
.demo-card__ttl {
	grid-area: ttl;
	display: none;
	text-wrap: balance;
}
.demo-card__sub {
	grid-area: sub;
	display: none;
}
.demo-card__txt {
	--clr-txt: hsl(from var(--white) h s l / 0.6);

	grid-area: txt;
	display: none;
}

/* |||||||||| |||||||||| |||||||||| slider nav */
.demo-cards-nav {
	display: none;
	justify-content: center;
	grid-column: 1 / -1;
	gap: 1em;

	> * {
		display: none;
		border-radius: 50%;
		width: 1em;
		aspect-ratio: 1;
		background-color: hsl(from var(--white) h s l / 0.2);

		&:active {
			background-color: var(--clr-1b);
		}
		&.active {
			background-color: hsl(from var(--white) h s l / 0.5);
		}
	}
}
