.settings {
	--clr-bg: hsl(from var(--white) h s l / 0.05);
	--gap-x: clamp(0.5rem, 3.125vw + -1.5rem, 1rem);
	--form-gap: var(--gap-x);

	background-color: var(--clr-bg);
	padding: var(--pad);
	margin-bottom: clamp(1rem, 6.25vw + -3rem, 2rem);
	border-radius: var(--rad);
	grid-template-columns: auto;
	position: relative;
	/* grid-column: 1 / -1; */
	/* margin-inline: var(--main-content-pad-x); */

	.scroll-snap-inline {
		grid-template-columns: repeat(4, minmax(max-content, auto));
		grid-column: 1 / -1;

		-ms-overflow-style: auto;
		scrollbar-width: thin;

		&::-webkit-scrollbar {
			display: initial;
		}
	}

	.settings-group {
		--form-gap: var(--gap-x);
		--gap-y: var(--form-gap);

		grid-auto-rows: min-content;
	}

	.fnt-md {
		color: var(--white);
	}

	legend {
		margin-bottom: var(--gap-x);
	}
}

.settings-group-wrapper {
	display: grid;
	grid-template-columns: repeat(2, max-content);
	gap: var(--pad);
	padding: var(--gap-x);
	background-color: var(--clr-bg);
	border-radius: var(--rad-inner);

	&:nth-child(1) {
		grid-template-columns: initial;
	}
}

.reset {
	background-color: var(--warm-900);
	place-self: end;
	padding: var(--gap-x) var(--pad);
	border-radius: var(--rad) 0;
	cursor: pointer;
	position: absolute;
	z-index: 1;
	transition:
		background-color 0.3s,
		color 0.3s;

	&:hover,
	&:focus-visible {
		background-color: var(--warm-700);
		color: var(--white);
	}
}

.input-wrapper:has(#option-вackground, #option-img-xs, #option-title-sm) {
	outline-offset: 3px;
}

.full-bleed:has(.flex-list.img-pos-cover, .logo) {
	.input-wrapper {
		&:has(#option-col-2, #option-col-3, #option-col-4, #option-col-5) {
			outline: 1px solid hsl(150, 50%, 50%);
		}
	}
}

.full-bleed:has(.img-pos-logo) {
	.input-wrapper {
		&:has(#option-flex-list) {
			outline: 1px solid hsl(150, 50%, 50%);
		}
	}
}

/* .full-bleed:has(.flex-list) {
	.input-wrapper {
		&:has(#option-вackground) {
			animation: outlineIn 0.5s ease-in-out 0s 1 normal forwards;
		}
		&:has(#option-img-xs) {
			animation: outlineIn 0.5s ease-in-out 0.5s 1 normal forwards;
		}
		&:has(#option-title-sm) {
			animation: outlineIn 0.5s ease-in-out 1s 1 normal forwards;
		}
	}
}

@keyframes outlineIn {
	0% {
		outline: 1px solid transparent;
	}
	100% {
		outline: 1px solid hsl(150, 50%, 50%);
	}
} */
