.program {
	--gap-sm: clamp(0.5rem, 3.125vw + -1.5rem, 1rem);
	--col-1-of-3: calc(
		(var(--max-content-width) - var(--pad) * 2 - var(--gap-x) * 2) / 3
	);

	display: grid;
	gap: var(--gap-sm);
	/* background-color: hsl(from var(--white) h s l / 0.05);
	border-radius: var(--rad);
	padding: var(--pad); */
}

.program__header,
.program__grid {
	display: grid;
	grid-template-columns: repeat(3, var(--col-1-of-3));
	gap: var(--gap-sm);
}

.program__hall-title {
	text-align: center;
	padding: var(--gap-sm);
	background-color: hsl(from var(--white) h s l / 0.05);
	border-radius: var(--rad-inner);
}

.program-item {
	display: grid;
	grid-auto-rows: min-content;
	gap: var(--gap-x);
	padding: var(--gap-sm);
	background-color: hsl(from var(--white) h s l / 0.05);
	border-radius: var(--rad-inner);

	background-image: linear-gradient(
		90deg,
		hsl(from var(--cyan-500) h s l / 0.15) 20%,
		hsl(from var(--violet-500) h s l / 0.15) 80%
	);
	background-size: 300% 100%;
	background-repeat: no-repeat;

	&::before {
		padding: 3px 0 0 0 !important;
	}

	&[data-hall="1"] {
		grid-column: 1;
		background-position: 0% 0%;

		&::before {
			background-position: 0% 0%;
		}
	}
	&[data-hall="2"] {
		grid-column: 2;
		background-position: 50% 0%;

		&::before {
			background-position: 50% 0%;
		}
	}
	&[data-hall="3"] {
		grid-column: 3;
		background-position: 100% 0%;

		&::before {
			background-position: 100% 0%;
		}
	}
	&[data-hall="all"] {
		grid-column: 1 / -1;
	}
}

.program-item__header {
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap-sm);

	> * {
		background-color: hsl(from var(--white) h s l / 0.05);
		border-radius: var(--rad-inner);
		padding: 0.33em 0.66em;
	}

	a {
		margin-left: auto;
	}
}

.program-item__body {
}

.program-item__title {
}
.program-item__subtitle {
	text-wrap: balance;
	margin-top: 0.5em;
}

.program-item__button {
	background-image: linear-gradient(
		30deg,
		var(--cyan-300) 0%,
		var(--violet-300) 100%
	);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	display: inline-block;

	position: relative;
	isolation: isolate;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		border-radius: 5px;
		padding: 1px;
		background-image: linear-gradient(
			30deg,
			var(--cyan-500) 0%,
			var(--violet-500) 100%
		);
		background-size: 100%;
		background-repeat: no-repeat;
		mask:
			conic-gradient(#000 0 0) content-box,
			conic-gradient(#000 0 0) border-box;
		mask-composite: subtract;
		z-index: -1;
		pointer-events: none;
	}
}

.program-item__hall {
	display: none;
}

.program-item__tag {
	--clr-txt: hsl(from var(--white) h s l / 0.6);

	border: 1px solid hsl(from var(--white) h s l / 0.6);
	border-radius: 5px;
}

.program-item__link {
}

.program-item__footer {
	--clr-txt: hsl(from var(--white) h s l / 0.6);
}

.program-item__speakers {
	display: grid;
	column-gap: var(--gap-sm);
	grid-template-columns: auto 1fr;
}

.program-item__role {
	text-align: right;
}

.program-item__members-list li:not(:last-child)::after {
	content: ",";
}

.gradient-border {
	position: relative;
	isolation: isolate;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		border-radius: inherit;
		padding: 1px;
		background-image: linear-gradient(
			90deg,
			var(--cyan-500) 20%,
			var(--violet-500) 80%
		);
		background-size: 300% 100%;
		background-repeat: no-repeat;
		mask:
			conic-gradient(#000 0 0) content-box,
			conic-gradient(#000 0 0) border-box;
		mask-composite: subtract;
		z-index: -1;
		pointer-events: none;
	}
}
