.list-bullet {
	--bullet-clr: var(--violet-500-alt);

	&:not(:first-child) {
		margin-top: 1em;
	}
	&:not(:last-child) {
		margin-bottom: 1em;
	}
	&:not(.custom) li:where(:hover, :has(a:focus-visible))::before {
		transform: scale(1.4);
	}

	li {
		display: grid;
		column-gap: 1em;
		grid-template-columns: min-content 1fr;

		&::before {
			content: "";
			background-color: var(--bullet-clr);
			width: 0.5em;
			aspect-ratio: 1;
			margin-top: 0.5em;
			transition: 0.1s transform;
		}

		& + li:not(li:has(ul)) {
			margin-top: 0.4em;
		}
	}

	:where(ul, p) {
		grid-column: 2;
	}

	p + p {
		margin-top: 0.25em;
	}

	ul {
		font-size: var(--fs-xs);
		line-height: var(--lh-xs);
		font-weight: var(--fw-el);
		margin-block: 0.66em;

		li {
			&::before {
				width: 0.333em;
			}
			& + li {
				margin-top: 0.2em;
			}
		}
	}

	span {
		color: var(--white);
	}

	/* |||||||||| |||||||||| |||||||||| |||||||||| */
	&.custom {
		--bullet-top: 0.66em;
		--bullet-thin: 0.1em;
		--bullet-tail: 1em;
		--bullet-head: calc(var(--bullet-thin) * 3.5);

		li {
			&::before,
			&::after {
				content: "";
				background-color: var(--bullet-clr);
				grid-area: 1 / 1;
				margin-top: var(--bullet-top);
			}

			&::before {
				margin-right: calc(var(--bullet-head) * 0.9);
				width: var(--bullet-tail);
				height: var(--bullet-thin);
				border-radius: var(--bullet-thin);
				z-index: 1;
			}

			&::after {
				width: var(--bullet-head);
				height: var(--bullet-head);
				border-radius: 50%;
				justify-self: end;
				box-shadow: var(--bullet-glow, none);
				transform: translateY(calc(-50% + var(--bullet-thin) / 2));
				transition: box-shadow 0.1s;
			}

			&:hover::after {
				--bullet-glow: 0 0 0.5em 0.25em var(--bullet-clr);
			}

			li {
				--bullet-tail: 1.25em;

				column-gap: 2em;
				margin-left: calc(var(--bullet-tail) * -0.75);

				&::before {
					margin-right: calc(var(--bullet-tail) * -1);
				}
			}
		}
	}
}
