.form {
	--clr-txt: hsl(var(--clr-0a-hsl), 0.6);
	--clr-bg-active: hsl(from var(--clr-1d) h s l / 0.2);
	--clr-active: var(--clr-1e-1f);
	--clr-success: radial-gradient(
		circle at bottom left,
		var(--clr-1e) 25%,
		var(--clr-1a) 100%
	);
	--clr-failure: radial-gradient(
		circle at bottom left,
		var(--clr-1b) 25%,
		var(--clr-1a) 125%
	);

	--form-pad: calc(var(--pad) * 0.9);
	--border-width: 1px;

	/* 	48px@1024px -> 	64px@1280px */
	--input-h: clamp(3rem, 6.25vw + -1rem, 4rem);
	/* 160px@1024px -> 192px@1280px */
	--txt-area-h: clamp(10rem, 12.5vw + 2rem, 12rem);

	border-radius: var(--rad-inner);
	display: grid;
	gap: var(--form-gap);
	grid-template-columns: repeat(2, 1fr);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| */
.input-wrapper {
	position: relative;
	border-radius: calc(var(--rad-inner) + var(--border-width));
	z-index: 1;
	display: grid;
	grid-template-rows: auto min-content;
	overflow: hidden;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		border-radius: inherit;
		border: var(--border-width) solid transparent;
		background: hsl(var(--clr-0a-hsl), 0.2) border-box;
		mask: var(--clr-1b-1a) border-box, var(--clr-1b-1a) padding-box;
		mask-composite: subtract;
		z-index: 1;
		pointer-events: none;
	}

	&:has(textarea) {
		grid-column: 1 / -1;
		min-height: var(--txt-area-h);

		.labels {
			text-align: center;
		}
	}

	&:not(:has(.labels)) {
		max-height: var(--input-h);
	}
}

/* |||||||||| |||||||||| |||||||||| |||||||||| */
.form__input {
	padding: var(--form-pad);
	width: 100%;
	height: 100%;
	color: var(--clr-txt);
	transition: color var(--time) ease;

	&::placeholder {
		color: var(--clr-txt);
		transition: color var(--time) ease;
	}

	&:not(textarea) {
		line-height: 1;
	}

	&:where(:-webkit-autofill, :-webkit-autofill:hover, :-webkit-autofill:focus) {
		-webkit-text-fill-color: var(--clr-txt);
	}
}

textarea.form__input {
	resize: none;
}

/* |||||||||| |||||||||| |||||||||| |||||||||| */
.button-wrapper {
	min-width: 100%;
	min-height: var(--input-h);
	grid-column: 1 / -1;
}

/* |||||||||| |||||||||| |||||||||| |||||||||| */
.labels {
	color: var(--clr-0a) !important;
	font-size: var(--fs-xs) !important;
	font-weight: var(--fw-rg);
	font-style: italic;
	line-height: var(--lh-rg);
	padding-inline: 0.5em;
	text-align: end;
	z-index: 1;
	grid-column: 1 / -1;
	border-radius: 0 0 var(--rad-inner) var(--rad-inner);
}

.error-field {
	border: none !important;
}

/* |||||||||| |||||||||| |||||||||| |||||||||| states */
.input-wrapper:has(.form__input:focus-visible)::before {
	background-image: var(--clr-active);
}

.input-wrapper:has(.success-label)::before {
	background-image: var(--clr-success);
}

.input-wrapper:has(.error-label)::before {
	background-image: var(--clr-failure) !important;
}

.success-label {
	background-image: var(--clr-success);
}
.error-label {
	background-image: var(--clr-failure);
}

.form__input:where(:hover, :focus-visible) {
	--clr-txt: var(--clr-0a);

	background-color: var(--clr-bg-active);
	backdrop-filter: blur(5px);
}
