.select-wrapper {
	grid-column: 1 / -1;
	border-radius: calc(var(--rad-inner) + var(--border-width));
	position: relative;
	display: grid;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		border-radius: inherit;
		border: var(--border-width) solid transparent;
		background: hsl(var(--clr-0a-hsl), 0.2) border-box;
		mask: var(--clr-1b-1a) border-box, var(--clr-1b-1a) padding-box;
		mask-composite: subtract;
		z-index: 2;
		pointer-events: none;
	}

	.error-label {
		text-align: center;
	}
}

/* |||||||||| |||||||||| |||||||||| |||||||||| */
.ts-wrapper {
	border-radius: calc(var(--rad-inner) + var(--border-width));
	min-height: var(--input-h);
}

.ts-control {
	border: none;
	min-height: 100%;
	padding-inline: var(--form-pad);

	.item {
		margin-block: auto;
	}

	input,
	input::placeholder {
		color: var(--clr-txt);
		font-size: var(--fs-rg);
		margin-block: auto;
		line-height: 1;
	}

	input::placeholder {
		display: block;
		max-width: 100%;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}

:is(.ts-control, .ts-dropdown) {
	font-size: var(--fs-rg);
	background-color: transparent;
	border-radius: var(--rad-inner);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| dropdown */
.ts-dropdown {
	line-height: var(--lh-rg);
	overflow: hidden;
	border-radius: inherit;
	border: none;
	margin-top: var(--form-gap);

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		border-radius: inherit;
		border: var(--border-width) solid transparent;

		background: var(--clr-active) border-box;
		mask: var(--clr-1b-1a) border-box, var(--clr-1b-1a) padding-box;
		mask-composite: subtract;
		z-index: 1;
		pointer-events: none;
	}

	.no-results {
		padding: var(--form-pad);
	}

	.option {
		color: var(--clr-txt);
		padding: calc(var(--form-pad) / 2) var(--form-pad);

		&:first-child {
			padding-top: var(--form-pad);
		}
		&:last-child {
			padding-bottom: var(--form-pad);
		}
	}

	.ts-dropdown-content {
		max-height: var(--txt-area-h);
		backdrop-filter: blur(5px);
		background-color: var(--clr-bg-active);
		border-radius: inherit;
	}
}

/* |||||||||| |||||||||| |||||||||| |||||||||| states */
.select-wrapper:has(.full) {
	&::before {
		background-image: var(--clr-success);
	}
}
.select-wrapper:has(.focus) {
	&::before {
		background-image: var(--clr-active);
	}
}
.select-wrapper:has(.error-label) {
	&::before {
		background-image: var(--clr-failure);
	}
	.ts-dropdown {
		margin-top: calc(var(--form-gap) + var(--lh-rg));
	}
}

.ts-wrapper.full {
	.ts-control {
		background-color: transparent;
	}
}
.ts-wrapper:is(.focus.input-active, :hover) {
	.ts-control {
		--clr-txt: var(--clr-0a);

		background-color: var(--clr-bg-active);
		backdrop-filter: blur(5px);
	}
}

.option.active {
	--clr-txt: var(--clr-0a);

	background-image: var(--clr-active);
}
